mule-demo2/src/main/mule/mule-demo2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f9b47f81-a9c2-4447-ab25-b37ab99ec89a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-demo2Flow" doc:id="ec805570-73f1-4918-9d18-31e2431a9c67" >
		<http:listener doc:name="Listener" doc:id="0e98a67e-c543-4069-ae57-21cfb6d252f1" config-ref="HTTP_Listener_config" path="/demo2"/>
		<set-payload value='#["Hello Mule 2"]' doc:name="Set Payload" doc:id="52372614-55a5-447c-84a7-ca510c31b5a6" />
	</flow>
</mule>
